@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
  min-height: 100%;
  background:
      radial-gradient(transparent, black),
      url("../sprites/Blue_bricks.png");
      background-repeat: repeat;
}
#beer2 {
  position: fixed;
  top: 460px;
  right: 80px;
  width: 150px;
}
#layer2 {
  image-rendering: pixelated;
  position: fixed;
  top:  607px;
  height: 113px;
  width:1280px;
  background-image: url("../sprites/table.png");
  background-repeat: repeat;
  background-size: contain;
}
#signText{
  position: fixed;
  top: 80px;
  left: 510px;
  width:240px;
  font-family: 'Press Start 2P';
  color: #c48a0d;
  font-size: 1.8em;
  text-align: center;
  text-shadow: 3px 3px 4px black;
}
#sign {
  image-rendering: pixelated;
  position: fixed;
  top:  -30px;
  left: 465px;
  width: 350px;
}
#candle1 {
  image-rendering: pixelated;
  position: fixed;
  top:  480px;
  left: 465px;
  width: 100px;
  z-index: 5;
}
#candle2 {
  image-rendering: pixelated;
  position: fixed;
  top:  480px;
  left: 735px;
  width: 100px;
  z-index: 5;
}